<div class="container-fluid" style="padding-top: 120px;">
  <div class="row">
    <div class="col-12">
      <h2>DATOS DE LA EMPRESA</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-2" style="position: relative;">
      <img  class="rounded" [src]="url_foto" style="width: 100%;object-fit: cover;
      object-position: center center;">
      <input type="file" #file_input id="foto_user" style="display: none;" accept=".png,.jpg" (change)="cambiarImagen($event)">
      <div ngbDropdown class="d-inline-block float-right" style="position: absolute;bottom: 0px;cursor: pointer;right: 0px;">
          <div class="rounded-circle {{color}}" style="height: 40px; width: 40px; display: flex; justify-content: center; align-items: center;" title="Editar foto" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)" ngbDropdownToggle><i class="fas fa-pen text-white"></i></div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem>
              <p class="py-0 px-0 my-0 mx-0" (click)="subirImagen()"><i class="fas fa-file-upload"></i> &nbsp; Subir fotografía</p>
            </button>
          </div>
      </div>
      <!-- <img class="rounded" src="../../../../assets/img/defaults/image-default.png" style="width: 100%;"> -->
    </div>  
    <div class="col-sm-12 col-lg-10">
      <div class="row">
        <div class="col-sm-12 col-lg-7">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Razon social</mat-label>
            <input matInput type="text" [(ngModel)]="empresa.razon_social" autocomplete="false" style="text-transform: uppercase;">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-lg-5">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>CURP</mat-label>
            <input matInput type="text" [(ngModel)]="empresa.curp" autocomplete="false" style="text-transform: uppercase;">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-lg-7">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>Representante</mat-label>
            <input matInput type="text" [(ngModel)]="empresa.representante" autocomplete="false" style="text-transform: uppercase;">
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-lg-5">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>RFC</mat-label>
            <input matInput type="text" [(ngModel)]="empresa.rfc" autocomplete="false" style="text-transform: uppercase;">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12 text-right">
            <button type="button" class="btn btn-success" (click)="editarEmpresa()"><i class="fas fa-save"></i> &nbsp; Guardar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="MIS SUCURSALES">
          <div class="container">
            <div class="row">
              <div class="table-resposive col-12 text-center">
                  <div class="table-wrapper">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th colspan="1">SUCURSAL</th>
                          <th colspan="1">REPRESENTANTE</th>
                          <th colspan="1">ACCIONES</th>
                          <th colspan="1"><button type="button" (click)="nuevaSucursal()" class="btn btn-info btn-sm" title="Agregar sucursal"><i class="far fa-plus-square"></i></button></th>
                        </tr>
                      </thead>
                      <tbody *ngIf="sucursales.length > 0; else pintaVacio">
                        <tr *ngFor="let sucursal of sucursales">
                          <td colspan="1">{{sucursal.sucursal}}</td>
                          <td colspan="1">{{sucursal.representate}}</td>
                          <td colspan="2">
                            <div class="container">
                              <div class="row">
                                <div class="col-2">
                                  <button class="btn btn-yellow btn-sm"><i class="fas fa-eye text-white"></i></button>
                                </div>
                                <div class="col-2">
                                  <div class="custom-control custom-switch">
                                    <input name="activo" type="checkbox" class="custom-control-input">
                                    <label class="custom-control-label"></label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>	
                      </tbody>
                      <ng-template #pintaVacio>
                          <tbody>
                              <tr>
                                  <td colspan="4" class="text-center">No existen sucursales actualmente</td>
                              </tr>
                          </tbody>
                      </ng-template>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="MIS DESPACHOS">
          <div class="container">
            <div class="row">
              <div class="table-resposive col-12 text-center">
                  <div class="table-wrapper">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th colspan="1">DESPACHO</th>
                          <th colspan="1">REPRESENTANTE</th>
                          <th colspan="1">ACCIONES</th>
                          <th colspan="1"><button type="button" (click)="nuevoDespacho()" class="btn btn-info btn-sm" title="Agregar despacho"><i class="far fa-plus-square"></i></button></th>
                        </tr>
                      </thead>
                      <tbody *ngIf="despachos.length > 0; else pintaVacioDos">
                        <tr *ngFor="let despacho of despachos">
                          <td colspan="1">{{despacho.despacho}}</td>
                          <td colspan="1">{{despacho.representante}}</td>
                          <td colspan="2">
                            <div class="custom-control custom-switch">
                              <input name="activo" type="checkbox" class="custom-control-input">
                              <label class="custom-control-label"></label>
                            </div>
                          </td>
                        </tr>	
                      </tbody>
                      <ng-template #pintaVacioDos>
                          <tbody>
                              <tr>
                                  <td colspan="4" class="text-center">No existen despachos actualmente</td>
                              </tr>
                          </tbody>
                      </ng-template>
                    </table>
                  </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="CONFIGURACIONES ADICIONALES">

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="modal-header">
      <h2 *ngIf="tipo_modal == 1" class="modal-title" id="tituloModal">NUEVA SUCURSAL</h2>
      <h2 *ngIf="tipo_modal == 2" class="modal-title" id="tituloModal">NUEVO DESPACHO</h2>
  </div>
  <div class="modal-body">
    <div class="container" *ngIf="tipo_modal == 1">
      <div class="row">
        <div class="col-12">
          <mat-form-field class="w-100">
            <mat-label>Estado</mat-label>
            <input type="text"
                   #input
                   matInput
                   (keyup)="autocomplete(input.value)"
                   [matAutocomplete]="autoGroup">
              <mat-autocomplete #autoGroup="matAutocomplete" (optionSelected)='setIdEstado($event)'>
                <mat-option *ngFor="let estado of estados" [value]="estado.estado" [id]="estado.id_estado">
                  {{estado.estado}}
                </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>NOMBRE DE LA SUCURSAL</mat-label>
            <input matInput type="text" autocomplete="false" style="text-transform: uppercase;" [(ngModel)]="sucursal.sucursal">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>REPRESENTANTE</mat-label>
            <input matInput type="text" autocomplete="false" style="text-transform: uppercase;" [(ngModel)]="sucursal.representate">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>RFC</mat-label>
            <input matInput type="text" autocomplete="false" style="text-transform: uppercase;" [(ngModel)]="sucursal.rfc">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>CURP</mat-label>
            <input matInput type="text" autocomplete="false" style="text-transform: uppercase;" [(ngModel)]="sucursal.curp">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>CORREO</mat-label>
            <input matInput type="text" autocomplete="false" [(ngModel)]="sucursal.correo">
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="container" *ngIf="tipo_modal == 2">
      <div class="row">
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>NOMBRE DEL DESPACHO</mat-label>
            <input matInput type="text" autocomplete="false" style="text-transform: uppercase;" [(ngModel)]="despacho.despacho">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>REPRESENTANTE</mat-label>
            <input matInput type="text" autocomplete="false" style="text-transform: uppercase;" [(ngModel)]="despacho.representate">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>RFC</mat-label>
            <input matInput type="text" autocomplete="false" style="text-transform: uppercase;" [(ngModel)]="despacho.rfc">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>CURP</mat-label>
            <input matInput type="text" autocomplete="false" style="text-transform: uppercase;" [(ngModel)]="despacho.curp">
          </mat-form-field>
        </div>
        <div class="col-12">
          <mat-form-field appearance="legacy" class="w-100">
            <mat-label>CORREO</mat-label>
            <input matInput type="text" autocomplete="false" [(ngModel)]="despacho.correo">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)="modal.close()"><i class="fas fa-window-close"></i> &nbsp; Cerrar</button><button type="button" *ngIf="tipo_modal == 1" class="btn btn-success" (click)="altaSucursal()"><i class="fas fa-save"></i> &nbsp; Guardar</button>
      <button type="button" *ngIf="tipo_modal == 2" class="btn btn-success" (click)="altaDespacho()"><i class="fas fa-save"></i> &nbsp; Guardar</button>
  </div>
</ng-template>